.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  position: relative;
  margin-bottom: 10rem;

  a {
    display: flex;
    align-items: center;
    font-size: 46rem;
    color: #ffffff;
  }
}

.main-nav__arrow {
  width: 30rem;
  height: 20rem;
  fill: #ffffff;
  margin-right: 20rem;

  opacity: 0;
  visibility: hidden;
}

.main-nav__item.active {
  a {
    font-weight: 600;
  }

  .main-nav__arrow {
    opacity: 1;
    visibility: visible;
  }
}

.main-nav__item:not(.active):hover {
  .main-nav__arrow {
    opacity: 1;
    visibility: visible;
    -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@media (orientation: landscape) {
  .main-nav {
    text-align: right;
  }

  .main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .main-nav__item {
    margin-bottom: 25rem;
    a {
      font-size: 48rem;
    }
  }

  .main-nav__arrow {
    margin-right: 30rem;
  }
}
