.page-footer__wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  padding: 0;
  padding-bottom: 30rem;
}

.page-footer {
  position: relative;
}

.page-footer__theme-trigger {
  display: none;
}

.page-footer__project-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    width: 24px;
    height: 15px;
  }
}

.page-footer__to-top {
  width: 26px;
  margin-left: auto;
}

@media (min-width: $tablet_s) and (orientation: landscape) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__theme-trigger {
    display: block;
  }

  .page-footer__project-links {
    svg {
      width: 30px;
      height: 24px;
    }
  }
}
