/* CONTAINER */
.container {
  min-width: 320px;
  max-width: $desktop_container;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: $desktop_s) {
  .container {
    padding: 0 60px;
  }
}

@media (min-width: $desktop_m) {
  .container {
    padding: 0 78px;
  }
}
