.services__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 90rem;
  padding-bottom: 90rem;
  background-color: #ffffff;
  background-color: var(--color--bg);
  height: 100%;
  overflow: hidden;
}

.services__btn {
  position: relative;
  z-index: 10;
  align-self: center;
  margin-top: 10rem;
}

.services__list {
  @include list-reset;
  columns: 2;
  font-size: 18rem;
  // margin-bottom: -30rem;
}

.services__items-group {
  margin-bottom: 20rem;
  break-inside: avoid;
}

.services__item {
  margin: 0;
  margin-bottom: 6rem;
  cursor: default;
}

.services__item::first-letter {
  font-weight: 700;
}

@media (orientation: landscape) {
  .services__list {
    font-size: 36rem;
    columns: 3;
    column-gap: 186rem;
  }

  .services__items-group {
    margin-bottom: 80rem;
  }

  .services__item {
    margin-bottom: 25rem;
  }
}
