@mixin responsiveFontSize($font-min, $font-max, $container-min: $mobile_s, $container-max: $desktop-container, $units: px, $fallback: false) {

  @if ($fallback) {
    font-size: $fallback;
  }

  font-size: calcResponsiveSize($font-min, $font-max, $container-min, $container-max, $units);

  $container-max: strip-unit($container-max);

  @media (min-width: $container-max + $units) {
    font-size: $font-max + $units;
  }
}
