.button {
  display: inline-block;
  padding: 15rem 20rem;
  border: 2.5rem solid var(--color--black);
  cursor: pointer;

  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  color:  var(--color--text);
  font-size: 18rem;

  transition: 0.3s border-color linear, 0.3s color linear;
}

@media (orientation: landscape) {
  .button {
    font-size: 24rem;
  }
}
