.page-content {
  padding-top: 100rem;
  padding-bottom: 80rem;
  height: auto;
}

@media (min-width: $tablet_s) and (orientation: landscape) {
  .page-content {
    padding-top: 140rem;
    padding-bottom: 140rem;
  }
}

