svg {
  fill: var(--color--svg);
  transition: 0.3s fill linear;
}

html[data-theme-dark] {
  svg {
    fill: var(--color--svg);
  }
}


.theme-dark {
  /* index.html */
  background-color: #000000;
  color: #ffffff;
  button {
    color: inherit;
  }

  .service, .services__wrap {
    background-color: #000000;
  }

  svg {
    fill: #ffffff;
  }

  .burger-btn {
    span {
      background-color: #ffffff;
    }
  }

  .button {
    border-color: #ffffff;
    color: #ffffff;
  }

  .button-glitch__inner {
    background-color: #000000;
  }

  .service__img {
    filter: invert(100%);
    opacity: 0.5;
  }

  .theme-dark__img {
    display: block;
    filter: none;
  }
}
